<h1>Tipos</h1>

<div id="tipos">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Siglas</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @tipos.each do |tipo| %>
        <tr scope="row">
          <td style="width: 25%">
            <%= tipo.siglas %>
          </td>
          <td style="width: 50%">
            <%= tipo.nombre %>
          </td>
          <td style="width: 25%">
            <%= link_to "Show", tipo, class: "btn btn-secondary", data: { turbo_frame: "remote_modal" } %>
            <%= link_to "Delete", tipo, class: "btn btn-danger", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
            <%= link_to "Edit", edit_tipo_path(tipo), class: "btn btn-success", data: { turbo_frame: "remote_modal" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
    <%= link_to "New tipo", new_tipo_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
</p>