<%= form_with(model: item) do |form| %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <div style="color: red">
      <% if item.errors.include?(:name) %>
          <% item.errors.full_messages_for(:name).each do |error_message| %>
            <%= error_message %>.
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
    <div style="color: red">
      <% if item.errors.include?(:description) %>
          <% item.errors.full_messages_for(:description).each do |error_message| %>
            <%= error_message %>.
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :tipo, style: "display: block", class: "form-label" %>
        <%= form.collection_select :tipo_id,Tipo.all.order(:nombre),:id,:nombre, 
                              {include_blank: "<falta>", selected: item.tipo_id}, 
                              {class: "form-control me-2", type:"text", title: "Tipo"} %>
    <div style="color: red">
      <% if item.errors.include?(:tipo_id) %>
          <% item.errors.full_messages_for(:tipo_id).each do |error_message| %>
            <%= error_message %>.
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-success btn-block" %>
  </div>
<% end %>